// Colors
$white: #FFF;
$black: #000;
$accent-color: #FF6464;
$second-accent: #00A8CC;
$light-color: #EDF7FA;
$dark-color: #142850;
$darker-color: #21243D;
$light-gray: #8695A4;
$lighter-gray: #E0E0E0;

// Font Sizes
$font-xxsm: 14px;
$font-xsm: 16px;
$font-sm: 18px;
$font-md: 20px; 
$font-lg: 26px;
$font-xl: 30px;
$font-xxl: 44px;

// Font Weights: 
$font-regular: 400;
$font-medium: 500;
$font-strong: 700;

// Grid
$baseGutterWidth: 16;